<div id="profile-card">
  <%= form_tag url: update_profile_url, method: :put do %>
  <div class="profile-picture">
    <img src="<%= @profile.picture["data"]["url"] %>"></img>
  </div>
  <div class="profile-basics">
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email, @profile.email %>
    </p>
    <p>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, @profile.first_name %>
    </p>
    <p>
      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, @profile.last_name %>
    </p>
    <p>
      <%= label_tag :birthday %>
      <%= text_field_tag :birthday, @profile.birthday %>
    </p>
  </div>
  <div class="profile-controls">
    <%= submit_tag "Save Changes", class: "button" %>
  </div>
  <% end %>
</div>
