<div id="profile-card-container">
  <div id="profile-card-center">
    <div id="profile-card-title">
      <span class="profile-card-title-bold">MY</span>
      <span class="profile-card-title-light">SOCIAL PROFILE</span>
    </div>
    <div id="profile-card">
      <%= link_to :logout, logout_sessions_facebook_url, class: "logout-link" %>
      <%= form_tag(update_profile_url, method: :put) do %>
      <div class="profile-social-basics">
        <div class="profile-social-basics-image">
          <img src="<%= @profile.picture["data"]["url"] %>"></img>
        </div>
        <div class="profile-social-basics-details">
          <%= @profile.name %>
          <hr />
          <div class="information">
            <span class="label">BIRTHDAY:</span>
            <span class="details"><%= @profile.birthday %></span>
          </div>
          <div class="information">
            <span class="label">EMAIL:</span>
            <span class="details"><%= @profile.email %></span>
          </div>
        </div>
      </div>
      <div class="profile-salesforce-basics">
        <div class="profile-salesforce-basics-title">
          Mailing Address
        </div>
        <div class="profile-salesforce-basics-left-side">
          <dl>
            <dt><%= label_tag :mailingcity, "Street" %></dt>
            <dd><%= text_field_tag :mailingstreet, @contact.mailingstreet %></dd>
            <dt><%= label_tag :mailingcity, "City" %></dt>
            <dd><%= text_field_tag :mailingcity, @contact.mailingcity %></dd>
            <dt><%= label_tag :mailingstate, "State" %></dt>
            <dd><%= text_field_tag :mailingstate, @contact.mailingstate %></dd>
          </dl>
        </div>
        <div class="profile-salesforce-basics-right-side">
          <dl>
            <dt><%= label_tag :mailingpostalcode, "Postal Code" %></dt>
            <dd><%= text_field_tag :mailingpostalcode, @contact.mailingpostalcode %></dd>
            <dt><%= label_tag :mailingcountry, "Country" %></dt>
            <dd><%= text_field_tag :mailingcountry, @contact.mailingcountry %></dd>
          </dl>
        </div>
        <div class="profile-salesforce-basics-controls">
          <%= submit_tag "Save", class: "button" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
