<div id="profile-card-container">
  <div id="profile-card-center">
    <div id="profile-card-title">
      <span class="profile-card-title-bold">MY</span>
      <span class="profile-card-title-light">SOCIAL PROFILE</span>
    </div>
    <div id="profile-card">
      <%= link_to :logout, logout_url, class: "logout-link" %>
      <div class="profile-social-basics">
        <div class="profile-social-basics-image">
          <img src="<%= @profile.picture["data"]["url"] %>"></img>
        </div>
        <div class="profile-social-basics-details">
          <%= @profile.name %>
          <hr />
          <div class="information">
            <span class="label">BIRTHDAY:</span>
            <span class="details"><%= @profile.birthday %></span>
          </div>
          <div class="information">
            <span class="label">EMAIL:</span>
            <span class="details"><%= @profile.email %></span>
          </div>
        </div>
      </div>
      <div class="profile-salesforce-basics">
        <div class="profile-salesforce-basics-title">
          Mailing Address
        </div>
        <div class="profile-salesforce-basics-left-side">
          <dl>
            <dt>Street</dt>
            <dd><%= @contact.mailingstreet || "unknown" %></dd>
            <dt>City</dt>
            <dd><%= @contact.mailingcity || "unknown" %></dd>
            <dt>State</dt>
            <dd><%= @contact.mailingstate || "unknown" %></dd>
          </dl>
        </div>
        <div class="profile-salesforce-basics-right-side">
          <dl>
            <dt>Postal Code</dt>
            <dd><%= @contact.mailingpostalcode || "unknown"%></dd>
            <dt>Country</dt>
            <dd><%= @contact.mailingcountry || "unknown" %></dd>
          </dl>
        </div>
        <div class="profile-salesforce-basics-controls">
          <%= link_to "Edit", edit_profile_url, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>
