<% content_for(:css) do %>
  <%= stylesheet_link_tag 'message', media: 'all' %>
<% end %>
<div id="message-box-container">
  <div id="message-box-center">
    <div id="message-box" class="setup">
      <%= link_to root_url do %>
        <%= image_tag("close.png") %>
      <% end %>
      <div class="title">
        You're almost there!
      </div>
      <div class="content">
        <%= form_for(@setup, url: setup_url, method: :put) do |f| %>
          <%= render 'form', f: f, setup: @setup %>
        <% end %>
      </div>
    </div>
  </div>
</div>
